<div class="command-bar">
    <div class="ops-cont">
        <div class="ops-menus">
            <ul id="opsbar-edit" class="first ops">
                <li class="last">
                    <a class="issueaction-edit-issue button edit first last" href="~/Task/Edit/@Model.Id">
                        <span class="icon butt-edit">
                        </span>
                        <span>Редактировать</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
