@{
    ViewBag.Title = "PatchNotes";
}

<h2>PatchNotes</h2>

@*Добавил поля для пользователя:
    должность
    ЗП (только для админа бухгалтера видна)
    Отдел


    Список опозданий отгулов виден только владельцу

    Кэш не надо сбрасывать вручную после создания пользователя

    Редактирование календаря только Бухгалтер и Админ

    Добавлена возможность перенести "проект" в другую "категорию проектов"(кнопка доступна на странице проекта)

    На странице АДМИНА добавил "расчет премий"
    -доступна выгрузка Excel
    -список всех проектов
    - на против каждого проекта на этой странице кнопка "выплачено" - ставит галочку true что премия выплачена и убирает этот проект из списка*@


<hr />

<div>
    <b>01.03.2022</b>
</div>
<div>
    <br />
    
    <p>
        -Дата рождения - не обязательное поле у Аккаунта<br />
        -Редактирование профиля - дата рождения не заполняется - поправлено<br />

        -"Расчет премий" - Кнопка для всех проектов "Выплачено" - Добавлена <br />
        -Из расчета премий убрать Тендеры <br />

        -Добавить ответственному за проект возможность подтвердить выполнение задачи и перевода задачи в категорию завершенные.<br />
        -Подтвержденные задачи на странице Project/Index - добавить галочку рядом со статусом<br />
        -В календаре ДР на все года <br />
        -Премия выплачена галочка интерактивная - в списке проектов<br /><br />

        <b>- EMAIL уведомления</b><br /><br />
        -При изменении статуса на Закрыто -> Автору -> Уведомление на Email<br />
        -При остатке времени на выполнение проекта в 20%. Отправляется письмо мне следующего содержания: "У исполнителя_проекта заканчивается срок выполнения по проекту название_проекта"<br />
        -При выполнении задачи в срок отправляется письмо: "Исполнитель_задачи выполнил задачу название_задачи. Просьба зайти в данную задачу и поставить отметку о выполнении/невыполнении данной задачи"<br />
        -При просрочке по выполнению задачи отправлять письмо ответственному за проект следующего содержания "Исполнитель_задачи просрочил выполнение задачи название_задачи" <br />
        -При просрочке по выполнению проекта отправлять письмо мне следующего содержания "Исполнитель_проекта просрочил выполнение проекта название_проекта"<br /><br />

        <b>Добавить цвета у названий задач.</b> <br /><br />
        -Если задача в процессе выполнения и срок до окончания более 20%, то цвет стандартный.<br />
        -Если до срока сдачи осталось менее 20%, то цвет желтый.<br />
        -Если задача просрочена, то цвет красный.<br />
        -Если задача выполнена в срок и принята ответственным за проект, то цвет зеленый.<br />
    </p>
</div>

<hr />

<div>
    <b>27.01.2022</b>
</div>
<div>
    <br />
    <b>- EMAIL уведомления</b>
    <p>
        - при создании задачи -> Исполнителю<br />
        - при изменении исполнителя у задачи -> новому исполнителю<br />
        - при изменении описания у задачи -> Исполнителю<br />
        - при создании проекта -> Ответственному<br />
        - в 9 утра :<br />
        -- Если у задачи < 20% времени осталось -> Исполнителю и Всем Ответсвенным за проект<br />
    </p>
</div>

<hr />

<div>
    <b>26.01.2022</b>
</div>
<div>
    <br />
    <b>- Аккаунт</b>
    <p>
        Новые поля:<br />
        - должность<br />
        - ЗП (только для админа бухгалтера видна)<br />
        - Отдел<br />
        - Дата рождения (только для админа видна)<br />
        - Образование<br />
        - Обязанности (только для админа видна)<br />
    </p>
</div>

<div>
    <br />
    <b>- Дата рождения</b>
    <p>
        Теперь отображается в календаре
    </p>
</div>

<div>
    <br />
    <b>- Личная страница</b>
    <p>
        Список опозданий отгулов виден только владельцу
    </p>
</div>

<div>
    <br />
    <b>- Кэш</b>
    <p>
        Кэш не надо сбрасывать вручную после создания пользователя
    </p>
</div>

<div>
    <br />
    <b>- Календарь</b>
    <p>
        Редактирование календаря только Бухгалтер и Админ может
    </p>
</div>

<div>
    <br />
    <b>- Проект</b>
    <p>
        Добавлена возможность перенести "проект" в другую "категорию проектов"(кнопка доступна на странице проекта)
    </p>
</div>

<div>
    <br />
    <b>- Расчёт премий</b>
    <p>
        На странице АДМИНА добавил "расчет премий"
        <br />
        -доступна выгрузка Excel<br />
        -список всех проектов<br />
        - на против каждого проекта на этой странице кнопка "выплачено" - ставит галочку true что премия выплачена и убирает этот проект из списка<br />
    </p>
</div>




<hr />

<div>
    <b>06.12.2019</b>
</div>
<div>
    <br />
    <b>- Задачи</b>
    <p>
        - Оценки теперь видны только : админу , бухгалтеру, ответственному за проект.
    </p>
</div>
<hr />

<div>
    <b>04.12.2019</b>
</div>
<div>
    <br />
    <b>- Компании</b>
    <p>
        - Добавил форму организации : "АО"
    </p>
    <br />
    <b>- Задачи</b>
    <p>
        - Обновил поле "Оценка" задачи, теперь оно вводится в ручную, а не выпадающий список. И должно быть от 0 до 100 включительно
    </p>
</div>
<hr />

<div>
    <b>23.08.2019</b>
</div>
<div>
    <br />
    <b>- Аккаунт</b>
    <p>
        - Добавил поле Email
        - При создании оно обязательное
    </p>
    <br />
    <b>- Уведомления</b>
    <p>
        - Теперь при создании задачи приходит email уведомление на СисАдмина, сли эта задача создана для него
    </p>
    <br />
    <b>- Календарный план</b>
    <p>
        - Добавлен "Календарный план"
        - Доступен на страние проекта
    </p>
</div>
<hr />

<div>
    <b>06.08.2019</b>
</div>
<div>
    <br />
    <b>- Проект</b>
    <p>
        - Исправлен баг : при оценке = 0 не обновлялись поля
    </p>
</div>
<hr />

<div>
    <b>05.08.2019</b>
</div>
<div>
    <br />
    <b>- Проект</b>
    <p>
        - Добавлены пути к локальным файлам/папкам
        - Теперь редактировании проекта доступна вкладка "Пути к файлам/папкам"
        - Создавать можно не ограниченное количество ссылок на папки или на файлы, "Описание" - будет заголовком будущей ссылки
        - Все ссылки на файлы или папки будут отображаться на страние /Project/ над списком задач
        <br />
        <br />
        <b>Настройка(для каждого компьютера) :</b>
        <br />
        Скачать архив : <a download href="~/FilesToDownload/OpenFileExplorer/OpenFileExplorer.rar">OpenFileExplorer</a>
        <br />
        - Файл "OpenFileExplorer.exe" положить в корень : "C:\" , сделать его "скрытым" (свойства -> скрытый)
        <br />
        - Добавить запись в регистр выполнив : RegChanges.reg
    </p>
</div>
<hr />

<div>
    <b>04.08.2019</b>
</div>
<div>
    <br />
    <b>- Задачи</b>
    <p>
        - Добавлено логирование изменения оценки
        <br />
    </p>
</div>
<hr />

<div>
    <b>29.07.2019</b>
</div>
<div>
    <br />
    <b>- Задачи</b>
    <p>
        - Теперь задачу можно оенить
        <br />
        - Добавлен выпадающий список с возможными оценками для задачи на страницах "создания" и "редактирования"
    </p>
    <br />
    <b>- Проект</b>
    <br />
    <p>
        - Добавлен "Прогресс" по проекту на странице "Проект".
        <br />
        - "Прогресс" основан на оценках задач, включенных в него
        <br />
        - Цвета в "Прогресс" соответствуют цветам статусов задач
        <br />
        - "Прогресс" отображается, если есть хотябы одна задача с оценкой
        <br />
        - Ниже указывается сколько задач сейчас без оценки (если оценки проставлены на всех задачах, то не отображается)
        <br />
    </p>
</div>
<hr />

<div>
    <b>27.07.2019</b>
</div>
<div>
    <br />
    <b>- Компании</b>
    <br />
    <i>
        - По умолчанию отсортированы по Name
        <br />
    </i>
</div>
<hr />

<div>
    <b>19.07.2019</b>
</div>
<div>
    <br />
    <b>- Календарь</b>
    <br />
    <i>
        - Теперь неделя начинается с понедельника
    </i>
</div>
<div>
    <br />
    <b>- Общие</b>
    <br />
    <i>
        - Обновил пути для post запросов
    </i>
</div>

<div>
    <br />
    <b>- Компании</b>
    <br />
    <i>
        - Добавил форму организации : "ФБУ"
    </i>
</div>
<hr />

<div>
    <b>13.07.2019</b>
</div>
<div>
    <br />
    <b>- Добавлен "календарь"</b>
    <br />
    <i>
        - Просмотр для всех авторизованных пользователей
        <br />
        - Редактирование/Удаление только для Admin & Buh ролей
    </i>
</div>
<hr />

<div>
    <b>07.07.2019</b>
</div>
<div>
    <br />
    <i>
        - Перенес все ссылки для Админа на отдельную страницу "Админка"
        <br />
        - Добавил в "Админка" новую страницу : "Настройки"
    </i>
    <br />
    <b>- Страница "Настройки" :</b>
    <br />
    <i>
        Выбор "Системного администратора"
        <br />
        Выбор проекта, на который будут вешаться задачи для "Системного администратора". По умолчанию : (Категория проектов / Другие проекты / Системное администрирование)
    </i>
</div>
<hr />

<div>
    <b>06.07.2019</b>
</div>
<br>
<div>
    - Баг
    <br />
    <i>
        Удаленные проекты теперь не отображаются в списке на странице пользователя
    </i>
    <br />
    <i>
        Поправил разметку на странице Account/Details/
    </i>
</div>
<hr />


<div>
    <b>03.07.2019</b>
</div>
<br>
<div>
    - 9 Удаление из корзины
    <br />
    <i>
        Добавить функцию полного удаления проекта/задачи для роли admin из категории Удаленные.
    </i>
    <br />
    <b>
        При удалении Проекта/Задачи со статусом "Удалена" она удаляется полностью.
        <br />
        При удалении Проекта со статусом "Удалена" так же полностью удаляются все Задачи связанные с Проектом.
    </b>
</div>
<hr />

<div>
    <b>02.07.2019</b>
</div>
<br>
<div>
    - 13 Список проектов в списке компаний
    <br />
    <i>
        Добавить список проектов с данной компанией при открытии этой компании.
    </i>
</div>

<hr />

<div>
    <b>28.06.2019</b>
</div>
<br>
<div>
    <div>
        - 4 Статус
        <br />
        <i>
            Убрать из списка задач и списка проектов колонку Статус. Вместо этого добавить аннотацию сверху: статус- в работе, статус – отложено, статус – завершено.
            Раскрасить соответствующие задачи и проекты в их цвет статуса.
            Из-за удаления колонки статуса необходима сортировка списка задач. Задачи изначально сортируются так: Сверху проекты в работе, потом отложено, потом завершено. Внутри одного статуса по алфавиту по названию проекта.
        </i>
        <br />
        <b>
            Решил немного по другому : В списке проектов - Убрал колонку "статус". Расширил колонку "Название". Заголовки "В работе , Будущие, Завершено" раскрасил в соответствующие цвета.
            <br />
            В списке задач - все оставил без изменений. Там
        </b>
    </div>
    <br>
    <div>
        - Изменение названий
        <i>
            <br>1) На главной странице Main Page на Главная страница
            <br>2) При создании проекта Назначен на изменить на Ответственный
        </i>
        <br><b>Fixed</b>

    </div>
    <br>
    <div>- Добавлена кнопка удаления Аккаунта</div>
    <br>
    <div>
        - Баг
        <i>
            <br>Возникает ошибка при создании новой задачи и возвращении к списку без создания новой задачи.
            <br>Создать новый (для задачи) – Вернуться к списку.
        </i>
        <br><b>Fixed</b>
    </div>
    <hr />
</div>

<div>
    <b>25.06.2019</b>
</div>
<div>
    <br>
    <div>- Добавлено "Patch Notes"</div>
    <br>
    <div>- Аутентификаци теперь не имеет таймаута</div>
    <br>
    <div>- Добавлена возможность добавления пользователя(только админ) (редактирования/удаления) пока нет</div>
</div>

<hr />